<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit Plant page</h1>
    <form action="/plants/<%=plant.id%>?_method=PUT" method="POST">
      Name:<input type="text" name="name" value="<%=plant.name%>"><br/>
      Info:<input type="text" name="info" value="<%=plant.info%>"><br/>
      Care:<input type="text" name="care" value="<%=plant.care%>"><br/>
      Img:<input type="text" name="img" value="<%=plant.img%>"><br/>
      Qty:<input type="text" name="qty" value="<%=plant.qty%>"><br/>
     <input type="submit"  value="submit Changes">
    </form>

  </body>
</html>
