<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("./partials/head.ejs")%>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/edit.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


    <title></title>
  </head>
  <body>
    <h1>Edit Plant page</h1>
    <div class="container">
    <div class="card">
      <form action="/plants/<%=plant.id%>?_method=PUT" method="POST">
        Name:<input type="text" name="name" value="<%=plant.name%>"><br/>
        Info:<input type="text" name="info" value="<%=plant.info%>"><br/>
        Care:<input type="text" name="care" value="<%=plant.care%>"><br/>
        Img:<input type="text" name="img" value="<%=plant.img%>"><br/>
        Qty:<input type="text" name="qty" value="<%=plant.qty%>"><br/>
       <input type="submit"  value="submit Changes">
      </form>
      <img class="img" src="<%=plant.img%>" alt="img">
</div>
    </div>

  </body>
</html>
