<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("./partials/head.ejs")%>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/edit.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<nav>
<%- include("./partials/nav.ejs")%>
</nav>

    <title></title>
  </head>
  <body>

    <div class="container">

    <div class="card">
      <form action="/plants/<%=plant.id%>?_method=PUT" method="POST">
        <ul class="list-group list-group-flush">
          <li><img class="img" src="<%=plant.img%>" alt="img"></li>
          <li class="list-group-item">Name:<input type="text" name="name" value="<%=plant.name%>"></li>
          <li class="list-group-item">Info:<input type="text" name="info" value="<%=plant.info%>"></li>
          <li class="list-group-item">Care:<input type="text" name="care" value="<%=plant.care%>"></li>
          <li class="list-group-item">Img:<input type="text" name="img" value="<%=plant.img%>"></li>
          <li class="list-group-item">Qty:<input  type="text" name="qty" value="<%=plant.qty%>"></li>
        </ul>

      <input type="submit"  value="submit Changes">
      </form>
<h1>Mutate your plant</h1>
</div>
    </div>

  </body>
</html>
