<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

      <%- include("./partials/head.ejs")%>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <%- include("./partials/nav.ejs")%>
    <h1>Plant Collection</h1>
  <div class="container">
    <div class="plants">
      <% plant.forEach( plant => { %>
         <div class="card">
           <h2> <%= plant.name %></h2>
           <a href="/plants/<%=plant.id%>">
             <img src="<%= plant.img %>" alt=" <%= plant.name %>" /></a>
             <h3><%=plant.info%></h3>

         </div>
       <% }) %>
    </div>
  </div>
  <a href="/plants/new">Add a new Plant</a><br>
<a href="/plants/seed">seed</a>


  </body>
</html>
