<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <%- include("./partials/head.ejs")%>
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <nav>
        <%- include("./partials/nav.ejs")%>
      </nav>
    </header>

    <div class="container">

  <% for(let i = 0; i < plant.length; i++){%>
   <div class="card" >
     <h3 class="card-title"><%=plant[i].name;%></h3>
     <img id="img"src="<%=plant[i].img%>" class="card-img-top" alt="img">
     <div class="card-body">
          <h6 class="card-text"> <%=plant[i].info;%></h3>
        <p ></p>
        <a href="/plants/<%=plant[i].id%>" class="btn btn-primary">have a look</a>
     </div>






</div>

<%}%>
</div>
<footer></footer>
  </body>
</html>
