<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=plant.name;%></h1>
    <ul>
      <li><img src="<%=plant.img%>" alt="img"></li>
      <li><%=plant.info%></li>
      <li><%=plant.care%></li>
    </ul>
<h2>You have <%=plant.qty%> in your collection</h2>

  </body>
</html>
